<header class="header">
    <div class="navbar">
        <div class="navbar-left">
            <a href="/home"><img src="/img/logo.svg" alt=""></a>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/staff">Staff</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <button class="logout"><a href="/logout">Log Out</a></button>
        </div>
    </div>
</header>