<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Regulations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/regulation.css" />
  </head>
  <body>
    <!-- Include Header Partial -->
    <%- include('partials/header') %>

    <!-- Block Book Entry Form -->
    <div class="book-entry-form">
      <h2>Edit Regulations</h2>
    </div>

    <div id="addCustomerForm">
      <h3>Edit Regulation</h3>
      <form id="customerForm" method="POST" action="/editRegulation">
        <label for="min_input">Minimal Inputs</label>
        <input type="text" id="min_input" name="min_input" required />

        <label for="low_inventory">Low Inventory</label>
        <input type="text" id="low_inventory" name="low_inventory" required />

        <label for="low_customer_debt">Low Customer Debt</label>
        <input
          type="text"
          id="low_customer_debt"
          name="low_customer_debt"
          required
        />

        <label for="stock_after_sale">Stock After Sale</label>
        <input
          type="text"
          id="stock_after_sale"
          name="stock_after_sale"
          required
        />

        <div class="rule-group">
          <label>Rules On/Off</label>
          <div class="radio-group">
            <label for="rule_yes">Yes</label>
            <input
              type="radio"
              id="rule_yes"
              name="rule"
              value="Yes"
              required
            />
            <label for="rule_no">No</label>
            <input type="radio" id="rule_no" name="rule" value="No" required />
          </div>
        </div>

        <button type="submit" id="updateButton">Update</button>
        <button type="button" id="cancelButton">Cancel</button>
      </form>
    </div>

    <button class="open-menu" onclick="toggleMenu()">></button>

    <!-- Overlay -->
    <div id="overlay" class="overlay"></div>

    <!-- Menu Section -->
    <div id="hero-menu" class="menu-ovl" style="display: none">
      <button><a href="/bookempty">Book Entry Form</a></button>
      <button><a href="/bookinvoice">Receipt</a></button>
      <button><a href="lookup">Book Lookup</a></button>
      <button><a href="/receipts">Book Invoice</a></button>
      <button><a href="/report">Monthly Report</a></button>
      <button><a href="/edit">Edit Regulations</a></button>
    </div>
  </body>

  <script src="/js/edit.js"></script>
</html>
