<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Invoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/receipt.css">
</head>

<body>

    <!-- Include Header Partial -->
    <%- include('partials/header') %>

        <!-- Block Book Entry Form -->
        <div class="book-entry-form">
            <h2>Book Invoice</h2>
        </div>

        <div class="container">
            <div class="form-container">
                <form id="receipt-form" class="two-column-form">
                    <div class="form-group">
                        <label for="date-receipt">Date of Issue:</label>
                        <input type="text" id="date-receipt" name="date-receipt" placeholder="Date of Issue" readonly>
                    </div>
                    <div class="form-group">
                        <label for="invoice-id">Invoice ID:</label>
                        <input type="text" id="invoice-id" name="invoice-id" placeholder="Enter Invoice ID"
                            value="<%= nextInvoiceId %>" readonly>
                    </div>
                    <div class="form-group">
                        <label for="customer">Customer Name:</label>
                        <input type="text" id="customer" name="customer" placeholder="Enter Customer Name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="phone" placeholder="Enter Phone Number"
                            onblur="checkCustomer()" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter Email" required>
                    </div>
                    <div class="form-group">
                        <label>Gender:</label>
                        <div>
                            <label>
                                <input type="radio" name="gender" value="M" required checked> Male
                            </label>
                            <label>
                                <input type="radio" name="gender" value="F"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group address-group">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" placeholder="Enter Address" required>
                    </div>
                </form>
            </div>
        
            <div class="book-input-container">
                <div class="form-group">
                    <label for="book-id">Book ID or Title:</label>
                    <input type="text" id="book-id" name="book-id" placeholder="Enter Book ID or Title" required>
                    <button type="button" onclick="addBook()">Add Book</button>
                </div>
                <button type="button" onclick="submitForm()">Submit Information</button>
            </div>
        
            <table id="book-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book Title</th>
                        <th>Author Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Book entries will be dynamically added here -->
                </tbody>
            </table>
        
            <div class="total-container">
                <h3>Amount Due: <span id="amount-due">0</span> VNĐ</h3>
                <h3>Total Amount: <span id="total-amount">0</span> VNĐ</h3>
                <div class="form-group">
                    <label id="total-pay" for="total-pay">Total Amount Paid by Customer:</label>
                    <input type="number" id="total-pay" name="total-pay" placeholder="Enter Total Amount Paid"
                        required>
                </div>
            </div>
        </div>

        <button class="open-menu" onclick="toggleMenu()">></button>

        <!-- Overlay -->
        <div id="overlay" class="overlay"></div>

        <!-- Menu Section -->
        <div id="hero-menu" class="menu-ovl" style="display: none;">
            <button><a href="/bookempty">Book Entry Form</a></button>
            <button><a href="/bookinvoice">Receipt</a></button>
            <button><a href="lookup">Book Lookup</a></button>
            <button><a href="/receipts">Book Invoice</a></button>
            <button><a href="/report">Monthly Report</a></button>
            <button><a href="/edit">Edit Regulations</a></button>
        </div>

        <!-- Notification Toasts -->
        <div id="toastSuccess" class="toast">Receipt generated successfully!!!</div>
        <div id="toastError" class="toastError">Receipt generation failed! There are fields that have not been filled
            in.</div>


</body>

<script src="/js/receipts.js"></script>

</html>